

.documents {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  scrollbar-width: none;
  height: 80vh;
  margin-top: 1rem;
}

@media screen and (max-width: 1400px) {
  .documents {
    justify-content: center;
  }
}

.document{
    width: 18rem;
    margin: 10px;
    height: 20vh;
    max-height: 25vh;
}

.document:hover {
  background-color: #274c61;
  box-shadow: 0 0 10px whitesmoke;
  transform: scale(1.07);
}
