

.documents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 20px;
    transition: 0.15s;
      
}


.documents:hover{
    background-color: #2E4755;
    box-shadow: 0 0 10px whitesmoke;
    transform:scale(1.05);
}