.edit-button {
  background-color: #242424;
  color: #3d3a3a;
  padding: 0;
  height: 50px;
  width: 50px;
}
.edit-button:hover {
  background-color: #aee1cd;
  color: rgb(0, 89, 255);
}
.edit-button:disabled {
  background-color: black;
  color: black;
}

#my-quill-toolbar {
  border: none;
  align-items: center;
}

#my-quill-toolbar .ql-bold,
#my-quill-toolbar .ql-italic {
  width: 50px;
  height: 50px;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #242424;
}

#my-quill-toolbar .ql-bold:hover,
#my-quill-toolbar .ql-italic:hover {
  background-color: #aee1cd;
}
#my-quill-toolbar .ql-bold:disabled,
#my-quill-toolbar .ql-italic:disabled{
  background-color: #0a0a0a;
  color: #010e08;
  text-decoration-color: #010e08;

}

.ql-editor,.ql-container,#editor{
  background-color: #1a1a1a;
  margin-left: 10px;
  margin-right: 10px;
  height: 80vh;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Courier New", monospace;
  flex-grow: 1;
}

 div#sideHistory{
  background-color: #717272;
  font-family: "Courier New", monospace;
  height: 80vh;
 }
 
 #historyButton{
  background-color: #0a0a0a;
  color: rgb(0, 89, 255);
 }
 #historyButton:hover
 {
  background-color: rgb(12, 55, 162);
  color:black;
 }
 
 .blue-background {
  background-color: blue;
}